[user]
	email = luke@lukeshiner.com
	name = Luke Shiner
[core]
	pager = less
	editor = nano
	preloadindex = true
	fscache = true
	symlinks = true
	filemode = false
	autocrlf = false
	safecrlf = false
[color]
	ui = always
[alias]
	logg = log --oneline --graph --decorate --all --pretty=format:"%C(auto)%h\\ %cr\\ %d\\ %s"
	logp = log --oneline --graph --decorate --all --pretty=format:"%h\\ %ci\\ %d\\ %s"
	logo = log --oneline --graph --decorate --pretty=format:"%C(auto)%h\\ %cr\\ %d\\ %s"
	st = status
[push]
	default = simple
